.menubar a:hover {
  background-color: #ddd;
  color: black;
}

*{box-sizing: border-box;}

body {
	margin: 0;
	background-color:
}
.menubar a.active {
  background-color: black;
  font-style: bold;
  color: white;
}
.menubar {
	overflow: hidden;
	background-color: #e9e9e9;
}

.menubar a {
  float: left;
  display: block;
  color: black;
  text-align: center;

  vertical-align: middle;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.questionType {
	background-color: grey;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	margin: 0;
	font-size: 30px;
}
